@import "src/base-style/colors";

.cart {
  position: fixed;
  padding: 30px;
  height: 100vh;
  max-width: 430px;
  width: 100%;
  background: gray;
  right: 0;
  top: 0;
  z-index: 10000;
  transition: all .3s;
  background: $white;
  transform: translateX(450px);

  button {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .cart-inner {
    text-align: center;

    .cart-inner-img {
      margin: 0 auto 20px;
      max-width: 120px;
    }

    .cart-inner-title {
      margin-bottom: 10px;
    }

    .cart-inner-text {
      margin-bottom: 40px;
      color: $lightGray;
    }
  }

  .cart-pay-info-block {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-end;

    .cart-pay-info-block-dotted-line {
      border: 0.1px dotted $lightGray;
      width: 100%;
    }
  }
}

.active {
  transform: translateX(0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88%;
}
.cart-wrapper-item{
  overflow: auto;
}